<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{registration}">Registration</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>
<body>
<div th:insert="~{fragment :: locale}"></div>
<div th:insert="~{fragment :: logout}"></div>

<h2 th:text="#{menu.header}">* Grocery Shop *</h2>
<br>
<div class="blueStyle">
    <h3 th:text="#{changepassword}">Password's change</h3>

    <form method="post" th:action="@{/changepassword}">
        <label for="password"><span th:text="#{newuserpassword}"></span>:
            <input id="password" name="password" required type="password">
        </label><br/><br/>

        <button th:text="#{save}" type="submit"></button>
    </form>
    <br>
    <form action="/start">
        <button th:text="#{start}" type="submit">Start</button>
    </form>
</div>
</body>
</html>