<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{projects}">Projects</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>
<body>
<div th:insert="~{fragment :: menu}"></div>

<div class="blueStyle">
    <form action="/projects">
        <label for="name"><span th:text="#{filt.name}">Name:</span>
            <input id="name" name="name" th:value="${filter.name}" type="text">
        </label>
        <button th:text="#{filt}" type="submit">Filter</button>
        <a href="/projects">[X]</a>
    </form>
    <table>
        <caption><h3 th:text="#{projects}">Projects</h3></caption>
        <thead>
        <tr>
            <th th:text="#{id}">ID</th>
            <th th:text="#{name}">Name</th>
            <th th:text="#{promanager}">Project manager</th>
            <th colspan="2">
                <a href="/projects/add" th:text="#{addProject}">add project</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${data.content}">
            <td th:text="${project.id}"></td>
            <td th:text="${project.name}"></td>
            <td th:if="${project.proManager}"
                th:text="${project.proManager.lastname+' '+project.proManager.firstname}"></td>
            <td th:unless="${project.proManager}">-</td>
            <td>
                <a th:href="@{|/projects/${project.id}|}" th:text="#{edit}">edit</a>
            </td>
            <td>
                <a th:href="@{|/projects/${project.id}/delete|}" th:text="#{delete}">delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:insert="~{fragment :: page}"></div>
</div>
</body>
</html>