<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Provider order edit</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>
<body>
<div th:insert="~{fragment :: menu}"></div>

<div class="blueStyle">
    <h3 th:text="#{providerordercard}">Provider order's card</h3>
    <div th:insert="~{fragment_provider_order :: providerOrderHead}"></div>
    <br/>
    <div th:insert="~{fragment_provider_order :: providerOrderBottomAdd2}"></div>
</div>
</body>
</html>