<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{addingQuality}">Adding a quality</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>
<body>
<div th:insert="~{fragment :: menu}"></div>

<div class="blueStyle">
    <h3 th:text="#{qualitycard}">Quality's card</h3>
    <form autocomplete="off" method="post" th:action="@{/qualities}" th:object="${quality}">
        <label for="name"><span th:text="#{name}"></span>:
            <input id="name" name="name" th:value="*{name}" type="text">
        </label><br/><br/>

        <button th:text="#{add}" type="submit">Add</button>
    </form>
    <div th:insert="~{fragment :: error}"></div>
</div>
</body>
</html>